


<script type="text/javascript">
    {literal}
        $( document ).ready(function() {
        $( "form#EditView" )
        .attr( "enctype", "multipart/form-data" )
        .attr( "encoding", "multipart/form-data" );
    });
{/literal}
</script>
<script type="text/javascript" src='include/SugarFields/Fields/Image/SugarFieldFile.js?v=ZYFViqrkrLoqSHXrmOkZAg'></script>

{if !empty($fields.docker_avatar.value) }
    {assign var=showRemove value=true}
{else}
    {assign var=showRemove value=false}
{/if}

{assign var=noChange value=false}

<input type="hidden" name="deleteAttachment" value="0">
<input type="hidden" name="{$fields.docker_avatar.name}" id="{$fields.docker_avatar.name}" value="{$fields.docker_avatar.value}">
<input type="hidden" name="{$fields.docker_avatar.name}_record_id" id="{$fields.docker_avatar.name}_record_id" value="{$fields.id.value}">
<span id="{$fields.docker_avatar.name}_old" style="display:{if !$showRemove}none;{/if}">
  <a href="index.php?entryPoint=download&id={$fields.id.value}_{$fields.docker_avatar.name}&type={$module}&time={$fields.date_modified.value}" class="tabDetailViewDFLink">{$fields.docker_avatar.value}</a>

        {if !$noChange}
        <input type='button' class='button' id='remove_button' value='{$APP.LBL_REMOVE}' onclick='SUGAR.field.file.deleteAttachment("{$fields.docker_avatar.name}","",this);'>
    {/if}
</span>
{if !$noChange}
<span id="{$fields.docker_avatar.name}_new" style="display:{if $showRemove}none;{/if}">
<input type="hidden" name="{$fields.docker_avatar.name}_escaped">
<input id="{$fields.docker_avatar.name}_file" name="{$fields.docker_avatar.name}_file"
       type="file" title='' size="30"
                       maxlength='255'
                >

    {else}



{/if}

<script type="text/javascript">
$( "#{$fields.docker_avatar.name}_file{literal} " ).change(function() {
        $("#{/literal}{$fields.docker_avatar.name}{literal}").val($("#{/literal}{$fields.docker_avatar.name}_file{literal}").val());
});{/literal}
        </script>


</span>